<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="static/css/styles.css">
  <title>Detector de Mentiras</title>
  <link href="static/css/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="main-container">
  <h1>Bem vindo ao Detector de Fake News!</h1>
  <br><br>

  <form action="/result" method ="GET">   <!-- form tag for user input, action is for the following function-->

    <p>Insira o texto aqui:</p>

    <input type="text" name="user_input" size="50" placeholder="Copie e cole a notícia aqui"
    class="flexdata"
    required>
    <br><br>
    <input type="submit" value = "Verifique essa notícia" class="btn btn-primary">
  </form>
  <br><br><br>
  <a href='/about'>Sobre o detector</a>
  <br>
  <a href='/info'>Mais informações sobre como evitar fake news</a>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script></script>
</div>
</body>

<script src="static/js/jquery.flexdatalist.min.js"></script>  <!-- has to be outside the html-body -->
<script type="text/javascript" src="static/js/script.js"></script>


</html>
